@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url(about-me.css);
@import url(resume.css);

:root { /*cria variáveis para serem utilizadas posteriormente*/
    --cor-fundo: #20262E;
    --cor-texto: #E9E8E8;
    --cor-destaque: #CD5888;
    --cor-hover: #913175;
}

* { /* o * seleciona todos os itens da página para resetar */
    margin: 0; /* parte externa da borda */
    padding: 0; /* parte interna da borda, ao redor do conteúdo */
}

body {
    /* height: 100vh; padrão de 100% da tela do dispositivo que está usando */
    box-sizing: border-box; /*mantém todos os itens filhos dentro do elemento pai */
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}
.tituloDestaque {
    color:var(--cor-destaque);
}

.cabecalho {
    padding: 2% 15%;
    display: flex;
    gap: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.menu_link {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
    padding: 5px;
}

.menu_link:hover {
    border: 1px solid;
    border-radius: 50px;
}

.apresentacao {
    display: flex; /* deixa os elementos um do lado do outro dentro do elemento pai */ /* NÃO FUNCIONOU */
    vertical-align:top ; /*alinha conforme o maior item dentro dos elementos*/
    justify-content: space-between; /*cria um espaço entre os elementos  NÃO FUNCIONOU */
    padding: 5% 15%;
    gap: 5%; /* espaço entre os itens contidos no elemento pai */
}

.apresentacao_conteudo {
    width: 50%; /* largura */
    display: flex;
    flex-direction: column; /*direção do alinhamento dos itens */
    gap: 50px;
    align-items: center;
}

.apresentacao_titulo {
    font-size: 2rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_texto {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    font-size: 1.25rem;
}

.apresentacao_subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border: 2px solid var(--cor-destaque);
    border-radius: 16px;
    padding: 21.5px;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-texto);
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.img_insta {
    width: 24px;
    height: 24px;
}

.img_foto {
    border-radius: 16px;
    width: 80%;
}

.apresentacao_link:hover {
    background-color: var(--cor-hover);
    color: black;
}

.rodape {
    color: black;
    background-color: var(--cor-destaque);
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 24px;
    text-align: center;
}

@media (max-width: 479px) {    /*media serve para modificar o layout a partir de alguma especificação, nesse caso o max-width da tela */
    .apresentacao {
        flex-direction: column-reverse; /*muda o layout e a ordem dos itens para ficar a imagem acima do texto*/
    }
    .apresentacao_titulo {
        font-size: 1.75rem;
    }
    .apresentacao_texto {
        font-size: 1rem;
    }
    .apresentacao_subtitulo {
        font-size: 1.25rem;
    }
    .cabecalho {
        padding: 10%;
    }
    .menu_link1, .menu_link2, .menu_link3 {
        font-size: 1rem;
    }
    .apresentacao_conteudo {
        width: auto;
    }
    .rodape {
        font-size: 1.25rem;
    }
}

@media (max-width: 1024px) {
    .cabecalho {
        padding: 5%;
        justify-content: right;
    }
}